<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoidHBwZGYiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7InVybFN0cmluZyI6
		Imh0dHBzOlwvXC9naXRodWIuY29tXC90ZWNocHJpbWF0ZVwvVFBQREYuZ2l0
		In1dfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFu
		Z2UiOlt7Imxvd2VyQm91bmQiOiIyLjYuMSIsInVwcGVyQm91bmQiOiIzLjAu
		MCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6ImV4dGVu
		c2lvbnMiLCJsb2NhdGlvbiI6eyJyZW1vdGUiOlt7InVybFN0cmluZyI6Imh0
		dHBzOlwvXC9naXRodWIuY29tXC9GYWhyZW5iZXJnXC9FeHRlbnNpb25zLmdp
		dCJ9XX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50Ijp7InJh
		bmdlIjpbeyJsb3dlckJvdW5kIjoiMy40LjIiLCJ1cHBlckJvdW5kIjoiNC4w
		LjAifV19fV19LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRpdHkiOiJpbWFn
		ZWNvbXByZXNzaW9ua2l0IiwibG9jYXRpb24iOnsicmVtb3RlIjpbeyJ1cmxT
		dHJpbmciOiJodHRwczpcL1wvZ2l0aHViLmNvbVwvRmFocmVuYmVyZ1wvSW1h
		Z2VDb21wcmVzc2lvbktpdC5naXQifV19LCJwcm9kdWN0RmlsdGVyIjpudWxs
		LCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjIuMy4z
		IiwidXBwZXJCb3VuZCI6IjMuMC4wIn1dfX1dfV0sImRpc3BsYXlOYW1lIjoi
		UmVwb3J0aW5nLVByb3RvdHlwZSIsInBhY2thZ2VLaW5kIjp7InJvb3QiOnt9
		fSwicGxhdGZvcm1zIjpbeyJvcHRpb25zIjpbXSwicGxhdGZvcm1OYW1lIjoi
		aW9zIiwidmVyc2lvbiI6IjE3LjAifV0sInByb2R1Y3RzIjpbeyJuYW1lIjoi
		UmVwb3J0aW5nLVByb3RvdHlwZSIsInNldHRpbmdzIjpbeyJidW5kbGVJZGVu
		dGlmaWVyIjpbImNvbS5ydWthLnJlcG9ydGluZy1wcm90b3R5cGUiXX0seyJ0
		ZWFtSWRlbnRpZmllciI6WyJVMkZYM1c5QUFXIl19LHsiZGlzcGxheVZlcnNp
		b24iOlsiMC4xIl19LHsiYnVuZGxlVmVyc2lvbiI6WyIxIl19LHsiaU9TQXBw
		SW5mbyI6W3siYWNjZW50Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicHJlc2V0
		Q29sb3IiOnsicmF3VmFsdWUiOiJicm93biJ9fX0sImFwcEljb24iOnsiYXNz
		ZXQiOnsibmFtZSI6IkFwcEljb24ifX0sImNhcGFiaWxpdGllcyI6W10sInN1
		cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCIsInBob25lIl0sInN1cHBv
		cnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6W3sicG9ydHJhaXQiOnt9fSx7
		ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2NhcGVMZWZ0Ijp7fX0seyJw
		b3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0aW9uIjp7ImRldmljZUZhbWls
		aWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdldHMiOlsiQXBwTW9kdWxlIl0s
		InR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwidGFyZ2V0TWFwIjp7IkFw
		cE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiVFBQREYi
		LCJUUFBERiIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkV4dGVuc2lvbnMi
		LCJFeHRlbnNpb25zIixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiSW1hZ2VD
		b21wcmVzc2lvbktpdCIsIkltYWdlQ29tcHJlc3Npb25LaXQiLG51bGwsbnVs
		bF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYWNrYWdl
		QWNjZXNzIjp0cnVlLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W3sicGF0aCI6
		IlJlc291cmNlcyIsInJ1bGUiOnsicHJvY2VzcyI6e319fV0sInNldHRpbmdz
		IjpbeyJraW5kIjp7ImVuYWJsZVVwY29taW5nRmVhdHVyZSI6eyJfMCI6IkJh
		cmVTbGFzaFJlZ2V4TGl0ZXJhbHMifX0sInRvb2wiOiJzd2lmdCJ9XSwidHlw
		ZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6
		W3sicHJvZHVjdCI6WyJUUFBERiIsIlRQUERGIixudWxsLG51bGxdfSx7InBy
		b2R1Y3QiOlsiRXh0ZW5zaW9ucyIsIkV4dGVuc2lvbnMiLG51bGwsbnVsbF19
		LHsicHJvZHVjdCI6WyJJbWFnZUNvbXByZXNzaW9uS2l0IiwiSW1hZ2VDb21w
		cmVzc2lvbktpdCIsbnVsbCxudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6
		IkFwcE1vZHVsZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiIuIiwi
		cmVzb3VyY2VzIjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6eyJwcm9j
		ZXNzIjp7fX19XSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBjb21p
		bmdGZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9fSwi
		dG9vbCI6InN3aWZ0In1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNW
		ZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS45LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		LpQ09ZwXA9W+Jj/B1z9xOZB69/lS2m8fhBbWV5/pPSc=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
